*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/jarRepositories.xml
/.idea/codestream.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Fastlane
fastlane/report.xml
/.idea/.name
/gigya/build/
/gigya-biometric/build/
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/compiler.xml
/.idea/gradle.xml
